<!DOCTYPE html>
<html>
<head>
	<title>Wunderbox</title>

	<meta charset="utf-8">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
<body>
	<div id="wrapper">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<nav>
							<%= link_to "Wunderbox", root_path, class:"logo" %>
							<div class="links">
								<%= link_to "Pricing", pricing_path %>
								<%= link_to "About us", about_path %>
								<%= link_to "Contact", contact_path %>

								<a href="" class="login">Log in</a>
								<a href="">Sign up</a>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<%= yield %>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span class="note">
							* Wunderbox is not related to Dropbox Inc. (it only uses its API)
						</span>

						<div class="copyright">
							Created at HackZürich '15 - Copyright 2015 - <a href="">Terms of use</a> - <a href="">Contact</a> - <a href="">Imprint</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>